# Build subdirectories
build/
dist/*.exe
cmake-build-debug/
cmake-build-release/
/guix-build-*
/ci/scratch/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary logs & databases
*.log
*.tmp
*.db
*.bak

# Sensitive keys & backups
.env
*.key
*.pem
*.priv
private.key
public.key
payquant_backup/
USER_PRIVATE_GENESIS_KEYS.json
release_dist/USER_PRIVATE_GENESIS_KEYS.json
release_dist/*.zip

# IDE and spec files
.idea/
.vscode/
*.swp
*.swo
*.spec

# Ignore test target build outputs except release packages
test/lint/test_runner/target/
/CMakeUserPresets.json
